{% extends './base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %} Notas {% endblock %}
{% block description %} La Cumbre Global del Liderazgo   {% endblock %}
{% block content %}
    <!--
    BEGINS CONTENT
    -->
    <!-- BEGINS floating player -->
    <div data-notify="container" class="alert alert-dismissible alert-info alert-notify animated fadeInDown" role="alert" data-notify-position="top-center"
         style=" display: inline-block; margin: 0px auto; position: fixed;
         transition: all 0.5s ease-in-out 0s; z-index: 1080;  animation-iteration-count: 1;
         max-width: 250px; right: 20px; bottom:10px; padding: 0; background-color: rgba(0,0,0,0.1);
         border-color: rgba(0,0,0,0.1)"
    >
        <span hidden class="alert-icon ni ni-bell-55" data-notify="icon"></span>
        <div class="alert-text" <="" div="">
        <span  class="alert-title" data-notify="title" style="width: 250px;"></span>
        <span data-notify="message">
            {% autoescape off %}
                {{ live.live_video }}
            {% endautoescape %}
        </span>
    </div>
    <button hidden type="button" class="close" data-notify="dismiss" aria-label="Close" style="position: absolute; right: 10px; top: 5px; z-index: 1082;">
        <span aria-hidden="true">x</span>
    </button>
    </div>
    <!-- ENDS floating player -->
    <div class="container-fluid" style="margin-top: -20px">
        <div class="row">
            <div class="col-lg-12">
                <!-- BEGINS Notes -->
                <div class="card" style="background-color: rgba(255,255,255,0.75);">
                        <div class="card-header" style="padding-bottom: 0;">
                          <div class="card-icon">
                              <h4 class="card-title"><i class="fa fa-file" style="padding-right: 10px;"></i> Crear Nota</h4>
                          </div>
                        </div>
                    <div class="card-body">
                        {% if error_messages %}
                            <div class="alert alert-danger">
                                <strong>{{ error_messages }}</strong>
                            </div>
                        {% endif %}
                        <center>
                        <form method="POST" class="post-form">
                                    {% csrf_token %}
                                    <p>
                                        <input placeholder="Title"  class="form-control" type="text" name="title" maxlength="149" id="id_title" required value="{{actual.title}}">
                                    </p>
                                    <script type="text/javascript" src="/static/ckeditor/ckeditor-init.js" data-ckeditor-basepath="/static/ckeditor/ckeditor/" id="ckeditor-init-script"></script>
                                    <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
                                    <div class="django-ckeditor-widget" data-field-id="id_text" style="width: auto !important;">
                                        <textarea style="width: 100%;min-height: 75px;outline: none;resize: none;" id="id_text" name="text" rows="10" required data-processed="0"
                                                  data-config="{&quot;toolbar_Basic&quot;: [[&quot;Source&quot;, &quot;-&quot;, &quot;Bold&quot;, &quot;Italic&quot;]],
                                                                &quot;height&quot;: 291, &quot;toolbar&quot;: &quot;Full&quot;, &quot;skin&quot;: &quot;moono-lisa&quot;,
                                                                &quot;language&quot;: &quot;en-us&quot;, &quot;toolbar_Full&quot;: [[&quot;Styles&quot;, &quot;Format&quot;,
                                                                &quot;Bold&quot;, &quot;Italic&quot;, &quot;Underline&quot;, &quot;Strike&quot;, &quot;SpellChecker&quot;, &quot;Undo&quot;,
                                                                &quot;Redo&quot;], [&quot;Link&quot;, &quot;Unlink&quot;, &quot;Anchor&quot;], [ &quot;Table&quot;, &quot;HorizontalRule&quot;],
                                                                [&quot;TextColor&quot;, &quot;BGColor&quot;], [&quot;Smiley&quot;, &quot;SpecialChar&quot;]], &quot;filebrowserWindowHeight&quot;: 725,
                                                                &quot;filebrowserWindowWidth&quot;: 940}"
                                                                data-external-plugin-resources="[]" data-id="id_text" data-type="ckeditortype">{{actual.text}}</textarea>
                                    </div>
                                    <p>
                                        <br>
                                        <button type="submit" class="save btn btn-default">Guardar</button>
                                    </p>
                                </form>
                            </center>
                    </div>
                </div>
                <div class="card" style="background-color: rgba(255,255,255,0.75);">
                        <div class="card-header" style="padding-bottom: 0;">
                          <div class="card-icon">
                              <h4 class="card-title"><i class="fa fa-file" style="padding-right: 10px;"></i> Mis Notas</h4>
                          </div>
                        </div>
                    <div class="card-body">
                        {% if error_messages %}
                            <div class="alert alert-danger">
                                <strong>{{ error_messages }}</strong>
                            </div>
                        {% endif %}
                        <ul>
                        {% for note in notes.all %}
                            <li><a class="text-dark" href="{% url 'notes'  event.slug  note.title %}"><u>{{ note.title }}</u></a> - <a class="text-blue" href="{% url 'delete_note'  event.slug note.title %}">Borrar Nota</a> - <a class="text-blue" href="{% url 'create_pdf'  note.title %}"><b>Descargar Nota</b></a></li>

                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!--ENDS Notes -->
        </div>
    </div>
            <br>
            <br>
            <br>
            <br>
            <br>
    <!--
    ENDS CONTENT
    -->
{% endblock %}