{% extends './base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %} Recursos {% endblock %}
{% block description %} La Cumbre Global del Liderazgo   {% endblock %}
{% block content %}
          <!--
          BEGINS CONTENT
          -->
            <!-- BEGINS floating player -->
            <div data-notify="container" class="alert alert-dismissible alert-info alert-notify animated fadeInDown" role="alert" data-notify-position="top-center"
                 style=" display: inline-block; margin: 0px auto; position: fixed;
                 transition: all 0.5s ease-in-out 0s; z-index: 1080;  animation-iteration-count: 1;
                 max-width: 250px; right: 20px; bottom:10px; padding: 0; background-color: rgba(0,0,0,0.1);
                 border-color: rgba(0,0,0,0.1)"
            >
                <span hidden class="alert-icon ni ni-bell-55" data-notify="icon"></span>
                <div class="alert-text" <="" div="">
                <span  class="alert-title" data-notify="title" style="width: 250px;"></span>
                <span data-notify="message">
                    {% autoescape off %}
                        {{ live.live_video }}
                    {% endautoescape %}
                </span>
            </div>
            <button hidden type="button" class="close" data-notify="dismiss" aria-label="Close" style="position: absolute; right: 10px; top: 5px; z-index: 1082;">
                <span aria-hidden="true">x</span>
            </button>
            </div>
            <!-- ENDS floating player -->
          <div class="container-fluid" style="margin-top: -20px">
            <div class="row">
                <div class="col-lg-12">
                    <!-- BEGINS Resources -->
                    <div class="card" style="background-color: rgba(255,255,255,0.75);">
                        <div class="card-header" style="padding-bottom: 0;">
                          <div class="card-icon">
                              <h4 class="card-title"><i class="fa fa-folder" style="padding-right: 10px;"></i> Recursos</h4>
                          </div>
                        </div>
                        </div>
                  </div>
                    <!--ENDS Resources -->
                </div>
          <div class="row" style="margin-top: -20px;">
              {% for recurso in recursos %}
                  <div class="col-lg-3">
                    <div class="card" style="width: 100%;">
                        <center>
                            <img class="card-img-top" src="{{ recurso.thumbnail.url }}" alt="">
                        </center>
                      <div class="card-body" style="height: 150px;">
                          <p class="card-text">
                              <a class="text-black-50" href="{{ recurso.link }}" target="_blank"><b>{{ recurso.title }}</b></a>
                              <br>
                              <small>{{ recurso.description }}</small>
                              <br>
                              <a target="_blank" href="{{ recurso.link }}" class="text-primary float-right font-weight-bold">Abrir</a>
                          </p>
                      </div>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
          <!--
          ENDS CONTENT
          -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}