{% extends 'base.html' %}
{% block content %}
 {% if messages %}
                        <div class="alert alert-danger">
                            <strong>{{ messages }}</strong>
                        </div>
              {% endif %}
  <h2>Edit profile</h2>
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
      
      <p>
        <label for="id_picture">elije una nueva Picture:</label><br>
        <input type="file" name="picture" id="id_picture" value="{{profile.picture}}">
        
        
      </p>
      
      
      <p>
      ingresa un nuevo codigo:
      <p>
        <label for="id_code">Code:</label><br>
        <input name="code" maxlength="200" required="" id="id_code" value="{{profile.code}}"> 
      </p>
        
        
      </p>
          <button type="submit">Edit profile</button>
  </form>
{% endblock %}