{% extends './base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %} Recursos {% endblock %}
{% block description %} La Cumbre Global del Liderazgo{% endblock %}
{% block content %}
          <!--
          BEGINS CONTENT
          -->
          <div class="container-fluid" style="margin-top: -20px">
            <div class="row">
                <div class="col-lg-12">
                    <!-- BEGINS Resources -->
                    <div class="card">
                        <div class="card-header card-header-danger card-header-icon">
                          <div class="card-icon">
                            <i class="material-icons">folder</i>
                          </div>
                          <h4 class="card-title">Recursos</h4>
                        </div>
                        <div class="card-body">

                          </div>
                        </div>
                  </div>
                    <!--ENDS Resources -->
                </div>
            </div>
          <div class="row" style="margin-top: -20px;">
              {% for recurso in recursos %}
                  <div class="col-lg-3">
                    <div class="card" style="width: 100%;">
                        <center>
                            <img class="card-img-top" src="{{ recurso.thumbnail.url }}" alt="Card image cap">
                        </center>
                      <div class="card-body">
                        <p class="card-text"><a class="text-danger" href="{{ recurso.link }}"><b>{{ recurso.title }}</a> </p>
                      </div>
                    </div>
                  </div>
              {% endfor %}
            </div>
          <!--
          ENDS CONTENT
          -->
{% endblock %}