{% extends './base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %} Video {% endblock %}
{% block description %} La Cumbre Global del Liderazgo{% endblock %}
{% block content %}
          <!--
          BEGINS CONTENT
          -->
          <div class="container-fluid" style="margin-top: -20px">
            <div class="row">
                <div class="col-lg-12">
                    <!-- BEGINS VIDEO -->
                    <div class="card">
                        <div class="card-header card-header-danger card-header-icon">
                          <div class="card-icon">
                            <i class="material-icons">date_range</i>
                          </div>
                          <h4 class="card-title">Video</h4>
                        </div>
                        <div class="card-body">

                          </div>
                        </div>
                  </div>
                    <!--ENDS SCHEDULE -->
                </div>
            </div>
          </div>
          <!--
          ENDS CONTENT
          -->
{% endblock %}