{% extends './base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %} Registro {% endblock %}
{% block description %} La Cumbre Global del Liderazgo{% endblock %}
{% block content %}

    <!--
    BEGINS CONTENT
    -->
    <div class="page-header register-page header-filter" filter-color="black" style="background-image: url('{% static 'assets/img/EsteticaCAoLatamsinlogos.png' %}')">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto m-4">
            <div class="card card-signup">
            <br>
              <h2 class="card-title text-center"><b>WELCOME</b></h2>
                <br>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5 ml-auto">
                    <div class="info info-horizontal">
                      <div class="icon icon-rose" HIDDEN>
                        <i class="material-icons">timeline</i>
                      </div>
                      <div class="description">
                          <img class="img-fluid" src="{% static 'assets/img/logo.png' %}">
                      <br>
                      <br>
                        <h4 class="info-title" style="font-weight: 900">GLS ONLINE</h4>

                        {% if error_messages %} 
                        <div class="alert alert-danger">
                            <strong>{{ error_messages }}</strong>
                        </div>  
                        {% endif %}
                        <p class="info-text text-dark" style="font-size: 16px;">
                          Enter your name and email to complete your registration.
                            <br>
                            <br>
                            <span class="text-danger">Use the code:</span> <b>_</b>
                            <br>
                            <br>
                        </p>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 mr-auto">

                    <form method="post" action="{% url 'register_user' %}">
                      {% csrf_token %}
                      <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">face</i>
                            </span>
                          </div>
                          <input type="text" name="first_name" id="id_first_name" class="form-control" placeholder="First Name">
                        </div>
                      </div>
                        <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">face</i>
                            </span>
                          </div>
                          <input type="text" name="last_name" id="id_last_name" class="form-control" placeholder="Last Name">
                        </div>
                      </div>
                      <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">mail</i>
                            </span>
                          </div>
                          <input type="text" name="email" id="id_email" class="form-control" placeholder="Email"> 
                        </div>
                      </div>
                      <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">lock_outline</i>
                            </span>
                          </div>
                          <input type="password" name="password" required id="id_password" placeholder="Enter code: _" class="form-control">
                        </div>
                      </div>
                      <div class="form-check" hidden>
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked="">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                          Acepto
                          <a  class="text-danger" href="#something">terminos y condiciones</a>.
                        </label>
                      </div>
                      <div class="text-center">
                        <!-- ponerle type="submit" es importante! -->
                       <!--  <a href="#pablo" class="btn btn-danger mt-4">INGRESAR</a> -->
                            <button  class="btn btn-success mt-4" type="submit"> INGRESAR </button>
                          <br>
                          <br>
                          Have you already registered? <br><a class="text-dark" href="{% url 'login_mail' %}"><u>Click here to Login</u></a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
    ENDS CONTENT
    -->
{% endblock %}