{% extends './base/base.html' %}
{% load tz %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %} Lobby {% endblock %}
{% block description %} GLS Online Event {% endblock %}
{% block content %}
          <!--
          BEGINS CONTENT
          -->
          <div class="container-fluid" style="margin-top: -20px">
            <div class="row">
                <div class="col-lg-8">
                    <!-- BEGINS LIVE PLAYER -->
                    <div class="card" style="background-color: rgba(255,255,255,0.75);">
                        <div class="card-header" style="padding-bottom: 0;">
                          <div class="card-icon">
                              <h4 class="card-title"><i class="fa fa-play-circle" style="padding-right: 10px;"></i> Player</h4>
                          </div>
                        </div>
                        <div class="card-body" style="padding: 0;" id="player">
                            {% include './lobby_player.html' %}
                        </div>
                    </div>
                    <!-- ENDS LIVE PLAYER -->
                    <!-- BEGINS SCHEDULE -->
                    <!-- BEGINS SCHEDULE -->
                    <div class="card" style="background-color: rgba(255,255,255,0.75);">
                        <div class="card-header" style="padding-bottom: 0;">
                          <div class="card-icon">
                              <h4 class="card-title"><i class="fa fa-calendar" style="padding-right: 10px;"></i> Programme</h4>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                  <th hidden class="text-center">#</th>
                                  <th>Description</th>
                                  <th>Date</th>
                                  <th>Time</th>
                                  <th class="">Room</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for pe in programme_elements %}
                                <tr>
                                  <td hidden class="text-center">1</td>
                                  <td>
                                      {{ pe.title }}
                                  </td>
                                  <td>{{ pe.date }}</td>
                                  <td>
                                      {% autoescape off %}
                                          {{ pe.time }}
                                      {% endautoescape %}
                                  </td>
                                    <td class="">
                                        <b><u>
                                            <a href="{% url 'room' pe.programme.event.slug pe.room.slug %}" class="text-dark">
                                                {{ pe.room.name }}
                                            </a>
                                        </u></b>
                                    </td>
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                  </div>
                    <!--ENDS SCHEDULE -->
                </div>
                <div class="col-lg-4">
                    <div class="card" style="background-color: rgba(255,255,255,0.75);">
                        <div class="card-header" style="padding-bottom: 0; ">
                          <div class="card-icon">
                              <h4 class="card-title"><i class="fa fa-comment" style="padding-right: 10px;"></i> Interact</h4>
                          </div>
                        </div>
                        <div class="card-body" style="padding: 0;">
                                {% autoescape off %}
                                {{ chat.embed_code }}
                                {% endautoescape %}
                        </div>
                    </div>
                    <div class="card" style="background-color: rgba(255,255,255,0.75);">
                        <div class="card-header" style="padding-bottom: 0;">
                          <div class="card-icon">
                              <h4 class="card-title"><i class="fa fa-calendar" style="padding-right: 10px;"></i> Rooms</h4>
                          </div>
                        </div>
                        <div class="card-body">
                            <a class="dropdown-item text-black-50" style="font-size: 18px;" href="{% url 'room' "gls-online" "1-Programming" %}">1 - Main Session</a>
                            <a class="dropdown-item text-black-50" style="font-size: 18px;"  href="{% url 'room' "gls-online" "2-Sessions" %}">2 - Breakout Room 1</a>
                            <a class="dropdown-item text-black-50" style="font-size: 18px;"  href="{% url 'room' "gls-online" "3-GranderVision" %}">3 - Breakout Room 2</a>
                            <a class="dropdown-item text-black-50" style="font-size: 18px;"  href="{% url 'room' "gls-online" "4-Sponsors" %}">4 - Sponsors</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!--
          ENDS CONTENT
          -->
        <!--BEGINS REFRESH SCRIPT -->
        <script>
            var hour = parseInt("{{ live.simulated_live_start.hour }}") - 5;
            console.log(hour);
            var minutes = parseInt("{{ live.simulated_live_start.minute }}");
            console.log(minutes);
            var reload_time =  String(hour) +  String(minutes) + String(0); // this is 15:06:00 - change to desired reload time
            console.log(reload_time);
            var reload_hour_diff = hour; // for cheking diff - change to desired hours
            var reload_minute_diff = minutes; // for cheking diff - change to desired minutes
            var time_zone_offset = "-5"; // globally looking from GMT time, change this according to DST

            var reload_time_checker = setInterval(function(){reload_page()},300);
            var diff = null;

            function chk_reload_moment(offset) {
                dat = new Date();
                utc = dat.getTime() + (dat.getTimezoneOffset() * 60000);
                default_date = new Date(utc + (3600000*offset));
                var default_year = default_date.getFullYear();
                var default_month = default_date.getMonth();
                var default_day = default_date.getDate();
                var default_hour = default_date.getHours();
                var default_minutes = default_date.getMinutes();
                var default_seconds = default_date.getSeconds();
                user_date = new Date();
                var user_year = user_date.getFullYear();
                var user_month = user_date.getMonth();
                var user_day = user_date.getDate();
                var user_hour = user_date.getHours();
                var user_minutes = user_date.getMinutes();
                var user_seconds = user_date.getSeconds();
                user_current = user_hour+""+user_minutes+""+user_seconds;
                default_current_f = default_day+"/"+default_month+"/"+default_year+" "+default_hour+":"+default_minutes+":"+default_seconds;
                user_current_f = user_day+"/"+user_month+"/"+user_year+" "+user_hour+":"+user_minutes+":"+user_seconds;
                var timeEnd = new Date(user_current_f);
                var timeEndH = timeEnd.getHours();
                var timeEndM = timeEnd.getMinutes();
                var new_reload_minute_diff = 60+reload_minute_diff;
                diff = (timeEndH - reload_hour_diff + 12) + " hours " + (new_reload_minute_diff - timeEndM) + " minutes";

                if (user_current == reload_time) {
                    return true;
                }
                else {
                    return false;
                }
            }

            function reload_page() {
                var chktime = chk_reload_moment(time_zone_offset);
                if (chktime) {
                    window.location.reload();
                    //$('#player').load(' #player>*')
                }
                else {
                    var timer_div = document.getElementById('timer');
                    {#timer_div.innerHTML = "remaining: " + diff + " until new content";#}
                }
            }
        </script>

        <!--ENDS REFRESH SCRIPT -->
{% endblock %}