{% extends './base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %} Resources {% endblock %}
{% block description %} GLS Online Event {% endblock %}
{% block content %}
          <!--
          BEGINS CONTENT
          -->
          <div class="container-fluid" style="margin-top: -20px">
            <div class="row">
                <div class="col-lg-12">
                    <!-- BEGINS Resources -->
                    <div class="card" style="background-color: rgba(255,255,255,0.75);">
                        <div class="card-header" style="padding-bottom: 0;">
                          <div class="card-icon">
                              <h4 class="card-title"><i class="fa fa-folder" style="padding-right: 10px;"></i> Resources</h4>
                          </div>
                        </div>
                        </div>
                  </div>
                    <!--ENDS Resources -->
                </div>
          <div class="row" style="margin-top: -20px;">
              {% for recurso in recursos %}
                  <div class="col-lg-3">
                    <div class="card" style="width: 100%;">
                        <center>
                            <img class="card-img-top" src="{{ recurso.thumbnail.url }}" alt="">
                        </center>
                      <div class="card-body" style="height: 150px;">
                          <p class="card-text">
                              <a class="text-black-50" href="{{ recurso.link }}"><b>{{ recurso.title }}</b></a>
                              <br>
                              <small>{{ recurso.description }}</small>
                          </p>
                      </div>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
          <!--
          ENDS CONTENT
          -->
    <br>
    <br>
    <br>
{% endblock %}